{% extends "_base.html" %}
{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-9">

            <div class="card shadow my-3 p-5">
                <h1>{{post.title}}</h1>
                <p class="small text-muted mt-2">{{post.author}}</p>
                <p class="mt-2">{{post.text}}</p>
                <a href = "{% url 'post_page_update' post.pk %}"><button type="submit" class="btn btn-primary" >Edit</button></a>
                <a href = "{% url 'post_page_delete' post.pk %}"><button type="submit" class="btn btn-primary" >delete</button></a>
            </div>
        
            <div class="card shadow my-3 p-5">
                <h3>Comments:</h3>
                {% if comments == 0  %}
                    
                    <h1> No comments yet! Be the first one.</h1>
                
                {% else %}

                {% for coment in comments  %}
                <div class="card shadow my-3 p-5">
                    <h1>{{coment.name}}</h1>
                    <p class="small text-muted mt-2">{{coment.email}}</p>
                    <p class="mt-2">{{coment.comment}}</p>
                </div>
            
                {% endfor %}

                {% endif %}
                    
            </div>
        
            <div class="card shadow my-3 p-5">
                <h3>Add new comment:</h3>
                <form method="POST">
                {% csrf_token %}
                    <div class="form-group py-2">
                        <label class="py-1" for="author_name">Enter your name:</label>
                        {{form.name}}
                    </div>
                    <div class="form-group py-2">
                        <label class="py-1" for="email">Your Email:</label>
                        {{form.email}}
                    </div>
                    <div class="form-group py-2">
                        <label class="py-1" for="comment_text">Comment text:</label>
                        {{form.comment}}
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
        <div class="col-3">

                <div class="card my-4">
                    <h5 class="card-header">About</h5>
                    <div class="card-body">
                        <p class="card-text">We love python and django. So we created a blog site to share our
                            thoughts</p>
                        <a href="#"
                           class="btn btn-sm btn-danger">
                            More...
                        </a>
                    </div>
                </div>

        </div>
    </div>
</div>
{% endblock content %}


